// ==========================================================

// 1024 scss by Matt Lee 
// Version: 1.0
// URL: http://holden4u.com/sass
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// =========================================================

/* 1024 =================================================== */

.container {
      width: 100%;
      /* 90% */
      margin: 0 auto;       
  }
  
  .slider {
      //margin : 0 auto;
      //padding-top : 46px;
      width: 100%;
  }

  #headerimg {
      display: none;
    //padding-left: 20px;
    width: 960px;
    max-width: 1024px; /*** correct for 320 */
    // height: auto; /* 1.29.2016 */
    // font-size: 32px;

    h1 {
        font-size: 10px; /* changed font size 1.29.2016  10px; */ /* 10px perfect for 320 */
        text-align: left;
    }
}

.description {
    display: none;
    width: 1000px;
    max-width: 1024px; /* correct for 320 */ 
    font-size: small; /* 1.29.2016 1px; */
    //height: auto; /* 1.29.2016 */
    text-align: left;
}

#header {
    width: 1000px;
    max-width: 1024px; /* perfect *//* 320px; */ /* add changes to header size height 1.29.2016 */
    //height: 190px; /* 1.29.2016*/
    margin: 0px, 0px, 0px, 0px;
    padding: 0px, 0px, 0px, 0px;

}



#welcome_message{
    //width: auto;
    //height: auto;
    font-size: small;
}


#hdr_pic {
    //  display: none;
    //padding-top: 50px; /* change this 1.29.2016 */
    width: 940px;  /* 280px */
    max-width: 1024px; /* 320 px today */
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
   // padding: 0px, 0px, 0px, 0px;
    //height: auto;
}

  

// 1. ROOT 				==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		        ==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	        ==============================